body{background-color: lightblue;}

button{
    width: 125px;
    height: 50px;
    margin: 10px auto;
}

.container {
    height: 500px;
    width: 600px;
    margin: auto;
    padding: 10px;
    display: grid;
    justify-content: center;
    align-items: middle;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        ".. header header .."
        "question question question question"
        "p1true p1false p2true p2false"
        "p1score p1score p2score p2score"
        ".. next newGame ..";
}

.header {
    grid-area: header;
    margin: 10px auto;
    font-size: 40px;
}

.question {
    grid-area: question;
    margin: 10px auto;
    font-size: 30px;
}

.p1true {
    grid-area: p1true;
    margin: auto;
}

.p1false {
    grid-area: p1false;
    margin: auto;
}

.p2true {
    grid-area: p2true;
    margin: auto;
}

.p2false {
    grid-area: p2false;
    margin: auto;
}

.pl1score {
    grid-area: p1score;
    margin: 10px auto;
}

.pl2score {
    grid-area: p2score;
    margin: 10px auto;
}

.next {
    grid-area: next;
    margin: auto;
}

.newGame {
    grid-area: newGame;
    margin: auto;
}

.score {
    margin: 10px auto;
    font-size: 90px;
}

.s1Header {
    grid-area: s1Header;
}

.s2Header {
    grid-area: s2Header;
}

.p1s {
    grid-area: p1s;
}

.p1s {
    grid-area: p1s;
}